.cart {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 10px;
    height: auto;    
    left: 75%;
    padding: 1rem;
    position: absolute;  
    top: 90px;        
    width: 19rem;
}

.cart h3 {   
    border-bottom: 2px solid hsl(223, 64%, 98%);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.cart__produto {    
    font-size: 0.8rem;
}

.cart__produto_info {
    justify-content: space-around;    
}

.cart__produto_top {
    align-items: center;
    display: flex;      
    margin-bottom: 1rem;  
    justify-content: space-between;
}

.cart__produto_foto {
    border-radius: 5px;
    height: 3rem;
    width: 3rem;
}

.cart__produto_info_valores {    
    display: flex;
}

.cart__produto_info_botao {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.cart__produto_info_descricao {
    margin: 0;
}

 .cart__produto_info_valores span {
    margin: 0;
    margin-right: 0.2rem;
 }

 .cart__produto_info_valortotal {
    font-weight: 700;
 }

 .cart__produto_delete {
    cursor: pointer;
 }

.cart__produto_vazio {
    font-weight: 700;
    color: hsl(220, 14%, 75%);
    text-align: center;
    padding: 3rem;
}

@media screen and (max-width: 900px) {
    .cart {        
        position: absolute; 
        left: 0; 
        right: 0; 
        top: 75px;        
        margin-left: auto; 
        margin-right: auto;         
        width: 95%;
        z-index: 1;
    }        
}        

