.cart {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    height: 10rem;    
    width: 15rem;
    position: absolute;  
    left: 85%;
    top: 90px;    
}

.cart h3 {   
    border-bottom: 2px solid hsl(223, 64%, 98%);
    padding: 1rem;
}