.menu__lista {
    display: flex;
}

.menu__lista_item {
    margin-right: 3rem;    
}

.menu__lista_item a {
    color: hsl(0, 0%, 0%);
}

.menu__lista_logo {
    margin-right: 4rem;
}

.menu__usuario_avatar {
    width: 2rem;
    height: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
}