.menu__lista {
    display: flex;
}

.menu__lista_item {
    margin-right: 3rem;    
}

.menu__lista_item a {
    color: hsl(0, 0%, 0%);
}

.menu__lista_logo {
    margin-right: 4rem;
}

.menu__usuario_avatar {
    border-radius: 100%;    
    margin-left: 3rem;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.menu__usuario {
    display: flex;
    align-items: center;
}
.menu__usuario img {
    cursor: pointer;
}

.menu__usuario_avatar:hover {
    border: solid 2px hsl(26, 100%, 55%);       
    
}