.cabecalho {
    align-items: center;
    border-bottom: 2px solid hsl(223, 64%, 98%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
}

.brightness {
    filter: brightness(100);
}

.ativo {
    border: 2px solid hsl(26, 100%, 55%);    
    border-radius: 10px;
}

.ativo__opacidade {
    opacity: 0.50;    
}